<div class="text-input">
  <mat-form-field>
    <mat-label>{{ label() }}</mat-label>
    <input
      matInput
      #inputRef
      [type]="type()"
      [formControl]="control"
      [id]="id()"
      [autocomplete]="autocomplete()"
      [required]="required()"
      [readonly]="readonly()"
      class="form-text-input"
    />
  </mat-form-field>

  <div class="text-input-error">
    @if (control.errors && control.touched) {
      @if (control.hasError('required')) {
        <mat-error>Field is required.</mat-error>
      } @else if (control.hasError('email')) {
        <mat-error>Please enter a valid email.</mat-error>
      } @else if (control.hasError('minlength') && type() === 'password') {
        <mat-error>Password must contain at least 12 characters.</mat-error>
      } @else if (control.hasError('maxlength') && type() === 'password') {
        <mat-error>Password must contain at most 128 characters.</mat-error>
      } @else if (control.hasError('passwordsMismatch') && type() === 'password') {
        <mat-error>Passwords do not match.</mat-error>
      }
    }
  </div>
</div>
