<app-form-container title="Login">
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <app-text-input id="email"
                    class="input"
                    label="Email address"
                    type="email"
                    autocomplete="email"
                    [required]="true"
                    [control]="loginForm.controls.email"
    ></app-text-input>

    <app-text-input id="password"
                    class="input"
                    label="Password"
                    type="password"
                    autocomplete="current-password"
                    [required]="true"
                    [control]="loginForm.controls.password"
                    buttonText="Forgot password?"
                    buttonLink="/forgot-password"
    ></app-text-input>

    <app-submit-button
      buttonText="Sign In"
      loadingText="Signing in...">
    </app-submit-button>
  </form>

  <p>
    Don't have an account?
    <a routerLink="/register">Register</a>
  </p>

  <app-alert-banner [error]="errorMessage()" [success]="successMessage()"></app-alert-banner>
</app-form-container>

