<mat-toolbar>
  <mat-toolbar-row class="navbar">
    <div class="left">
      <!--  Mobile Menu-->
      <button (click)="onToggleMobileMenu()" mat-icon-button class="example-icon"
              aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
      </button>
      <a routerLink="/">DotNetAngularTemplate</a>
    </div>
    <div class="right">
      @if (isAuthenticated$ | async; as authenticated) {

      } @else {
        <a mat-button routerLink="/register">Register</a>
        <a mat-flat-button routerLink="/login">Login</a>
      }
    </div>
  </mat-toolbar-row>

  @if (mobileMenuOpen) {
    <mat-toolbar-row class="navbar mobile">
      <span>Third Line</span>
      <span class="example-spacer"></span>
      <mat-icon class="example-icon" aria-hidden="false" aria-label="Example heart icon">favorite</mat-icon>
      <mat-icon class="example-icon" aria-hidden="false" aria-label="Example delete icon">delete</mat-icon>
    </mat-toolbar-row>
  }
</mat-toolbar>
