<div class="flex sm:mt-20 flex-col justify-center px-6 py-12 lg:px-8">
  <div class="sm:mx-auto sm:w-full sm:max-w-sm">
    <img class="mx-auto h-10 w-auto" src="https://tailwindcss.com/plus-assets/img/logos/mark.svg?color=indigo&shade=600"
         alt="Your Company">
    <h2 class="mt-10 text-center text-2xl/9 font-bold tracking-tight text-gray-900">Confirm Password Reset</h2>
  </div>

  <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm">
    <form class="space-y-6" [formGroup]="forgotPasswordConfirmationForm" (ngSubmit)="onSubmit()">
      <app-text-input id="code"
                      label="Code"
                      type="text"
                      autocomplete="off"
                      [readonly]="true"
                      [required]="true"
                      [control]="forgotPasswordConfirmationForm.controls.code"
      ></app-text-input>

      <app-text-input id="email"
                      label="Email address"
                      type="email"
                      autocomplete="off"
                      [readonly]="true"
                      [required]="true"
                      [control]="forgotPasswordConfirmationForm.controls.email"
      ></app-text-input>

      <app-text-input id="password"
                      label="Password"
                      type="password"
                      autocomplete="new-password"
                      [required]="true"
                      [control]="forgotPasswordConfirmationForm.controls.password"
      ></app-text-input>

      <app-text-input id="passwordConfirmation"
                      label="Confirm Password"
                      type="password"
                      autocomplete="new-password"
                      [required]="true"
                      [control]="forgotPasswordConfirmationForm.controls.passwordConfirmation"
      ></app-text-input>

      <app-submit-button
        buttonText="Reset Password"
        loadingText="Processing...">
      </app-submit-button>
    </form>

    <p class="mt-2 text-center text-sm/6 text-gray-500">
      Remembered your password?
      <a routerLink="/login" class="font-semibold text-indigo-600 hover:text-indigo-500">Login</a>
    </p>

    <app-alert-banner [error]="errorMessage()" [success]="successMessage()"></app-alert-banner>
  </div>
</div>
