<app-form-container title="Confirm Password Reset">
  <form [formGroup]="forgotPasswordConfirmationForm" (ngSubmit)="onSubmit()">
    <app-text-input id="code"
                    label="Code"
                    type="text"
                    autocomplete="off"
                    [readonly]="true"
                    [required]="true"
                    [control]="forgotPasswordConfirmationForm.controls.code"
    ></app-text-input>

    <app-text-input id="email"
                    label="Email address"
                    type="email"
                    autocomplete="off"
                    [readonly]="true"
                    [required]="true"
                    [control]="forgotPasswordConfirmationForm.controls.email"
    ></app-text-input>

    <app-text-input id="password"
                    label="Password"
                    type="password"
                    autocomplete="new-password"
                    [required]="true"
                    [control]="forgotPasswordConfirmationForm.controls.password"
    ></app-text-input>

    <app-text-input id="passwordConfirmation"
                    label="Confirm Password"
                    type="password"
                    autocomplete="new-password"
                    [required]="true"
                    [control]="forgotPasswordConfirmationForm.controls.passwordConfirmation"
    ></app-text-input>

    <app-submit-button
      buttonText="Reset Password"
      loadingText="Processing...">
    </app-submit-button>
  </form>

  <p>
    Remembered your password?
    <a routerLink="/login">Login</a>
  </p>
</app-form-container>
